/* @import "_swiper"; */

/* @import "_font"; */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* .temp {
  background-image: svg-load('../img/close.svg');
} */

/*
@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.rotate {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #b60f08;

  @media screen and (min-aspect-ratio: 12/9) {
    display: block;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Myriad Pro', Arial, sans-serif;
    font-size: 14px;
    text-align: center;
  }
}

.button {
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  text-align: center;

  &--text {
    color: white;
  }

  &&__white {
    background-color: white;

    ^&--text {
      color: black;
    }
  }
}

.red {
  height: 100%;

  @media screen and (min-aspect-ratio: 12/9) {
    display: none;
  }

  .frame-1 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #b60f08;

    .logo {
      width: 82%;
      padding-bottom: 8%;

      img {
        width: 100%;
      }
    }

    .hero {
      width: 85%;

      @media (min-width: 768px) {
        width: 50%;
      }

      img {
        width: 100%;
      }
    }
  }

  .frame-2 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #b60f08;
    animation-name: show;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;

    .hero {
      width: 78%;

      @media (min-width: 768px) {
        width: 50%;
      }

      img {
        width: 100%;
      }
    }

    .btn {
      width: 80%;
      padding-top: 5%;
      padding-bottom: 3.5%;
      border: 1px solid #ecb9c6;
      border-radius: 5px;
      background: linear-gradient(to bottom, #f5dde3, ease, #ecb9c6);
      box-shadow: inset 0 1px 1px 1px #faedf1;
      text-align: center;

      @media (min-width: 768px) {
        width: 50%;
      }

      img {
        width: 80%;
      }
    }
  }

  .disclaimer {
    width: 93%;

    img {
      width: 100%;
    }
  }

  .lipstick {
    padding-top: 10%;

    picture {
      img {
        width: 100%;
      }
    }
  }
} */
