/* @import "_swiper"; */

/* @import "_font"; */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* .temp {
  background-image: svg-load('../img/close.svg');
} */

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.rotate {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #b60f08;
}

.rotate span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Myriad Pro', Arial, sans-serif;
  font-size: 14px;
  text-align: center;
}

.button {
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  text-align: center;
}

.button--text {
  color: white;
}

.button.button__white {
  background-color: white;
}

.button.button__white .button--text {
  color: black;
}

.red {
  height: 100%;
}

.red .frame-1 {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #b60f08;
}

.red .frame-1 .logo {
  width: 82%;
  padding-bottom: 8%;
}

.red .frame-1 .logo img {
  width: 100%;
}

.red .frame-1 .hero {
  width: 85%;
}

.red .frame-1 .hero img {
  width: 100%;
}

.red .frame-2 {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #b60f08;
  animation-name: show;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  opacity: 0;
}

.red .frame-2 .hero {
  width: 78%;
}

.red .frame-2 .hero img {
  width: 100%;
}

.red .frame-2 .btn {
  width: 80%;
  padding-top: 5%;
  padding-bottom: 3.5%;
  border: 1px solid #ecb9c6;
  border-radius: 5px;
  background: linear-gradient(to bottom, hsl(345, 54.55%, 91.37%), hsl(345.01, 54.69%, 90.99%) 6.27%, hsl(345.03, 54.92%, 90.35%) 11.76%, hsl(345.03, 55.21%, 89.49%) 16.9%, hsl(345.02, 55.54%, 88.48%) 22.16%, hsl(344.99, 55.89%, 87.37%) 27.99%, hsl(344.94, 56.23%, 86.22%) 34.82%, hsl(344.88, 56.56%, 85.11%) 43.13%, hsl(344.82, 56.85%, 84.11%) 53.34%, hsl(344.76, 57.09%, 83.3%) 65.93%, hsl(344.72, 57.25%, 82.75%) 81.33%, hsl(344.71, 57.3%, 82.55%));
  box-shadow: inset 0 1px 1px 1px #faedf1;
  text-align: center;
}

.red .frame-2 .btn img {
  width: 80%;
}

.red .disclaimer {
  width: 93%;
}

.red .disclaimer img {
  width: 100%;
}

.red .lipstick {
  padding-top: 10%;
}

.red .lipstick picture img {
  width: 100%;
}

@media (min-width: 768px) {
  .red .frame-1 .hero {
    width: 50%;
  }
  .red .frame-2 .hero {
    width: 50%;
  }
  .red .frame-2 .btn {
    width: 50%;
  }
}

@media screen and (min-aspect-ratio: 12/9) {
  .rotate {
    display: block;
  }
  .red {
    display: none;
  }
}
