extends layout.pug

block local_vars
  - var title = 'Тест'

block content
  //- include metrics.pug
  h1 Заголовок
  h2 Подзаголовок
  h3 Звуки животных:
  ul
    li Кря
    li Буль
    li Хрю
    li Мяу
    li Гав
    li Муу
    li Бееее
    li Коко

  
