extends layout.pug

block local_vars
  - var title = 'Имя'

block content
  //- include metrics.pug
  .rotate
    span Пожалуйста, поверните устройство
  .red(onclick="parent.postMessage('banner.redirect', '*')")
    p qwe
