include variables.pug
block local_vars
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="format-detection", content="telephone=no")
    if title
      title Banner - !{title}
    if meta_description
      meta(name="description", content="!{meta_description}")
    link(rel="stylesheet" href="css/style.min.css")
    //- script.
      console.log('test');
  body
    block content
  //- script(src="js/jquery-3.3.1.min.js")
  //- script(src="js/main.js")
