include variables.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="format-detection", content="telephone=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    if meta_description
      meta(name="description", content="!{meta_description}")
    if title
      title !{title}
    link(rel="stylesheet" href="css/style.min.css")
    //- script.
      console.log('test');
  body
    block content
  //- script(src="js/jquery-3.2.1.min.js")
  //- sript(src="js/swiper.jquery.min.js")
  //- script(src="js/main.js")
